[submodule "Libraries/Engine"]
	path = Libraries/Engine
	url = https://github.com/iamadithedev/engine-libraries.git
[submodule "Libraries/Editor"]
	path = Libraries/Editor
	url = https://github.com/iamadithedev/editor-libraries.git
[submodule "Engine"]
	path = Engine
	url = https://github.com/iamadithedev/engine.git
